@media(max-width:500px) {

    #blog .blog-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       
    }
    #blog {
        padding: 100px 20px 0 20px;
    }
    #blog .blog-img{
        width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    #blog .blog-details {
        width: 100%
    }
    #about-heade {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #about-heade img {
      width: 100%;
      margin-bottom: 10px;
    }
    #about-heade div {
        padding-left: 0px;
    }
    #news-lette input {
        height: 50px;
    }

    #about-app .video {
        width: 90%;
        height: 100%;
        margin: 30px auto 0 auto;
    }
    #contact-details {
        flex-direction: column;
    }
    #contact-details .details {
        width: 100%;
    }
}